@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/jquery-ui.min-1.11.1.js")
@Scripts.Render("~/Scripts/knockout.js")
@Scripts.Render("~/Scripts/tabcontent.js")
@Scripts.Render("~/ViewModels/ApplyViewModel.js")
@Scripts.Render("~/ViewControllers/Apply.js")
@Styles.Render("~/Content/tabcontent.css")
@Styles.Render("~/Content/Apply.css")
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<script>
    $('.dates input:button').not('.selectAll').click(function () {
        $(this).toggleClass('selected');
    })
</script>
<script>
    $('.dates .selectAll').click(function () {
        $('.dates input:button').not('.selectAll').click();
    })
</script>

<ul class="tabs">
    <li><a href="#view1">Personal Info</a></li>
    <li><a href="#view2">Employment Info</a></li>
    <li><a href="#view3">Work Experience</a></li>
    <li><a href="#view4">Education</a></li>
</ul>
<div class="tabcontents">
    <!-- Personal Info -->
    <div id="view1">
        <div class="contianer-fluid center">
            <div class="row">
                <div class="col-xs-3">
                    <label for="firstName">First Name</label>
                </div>
                <div class="col-xs-3">
                    <label for="lastName">Last Name</label>
                </div>
                <div class="col-xs-2">
                    <label for="over18">Over 18?</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input type="text" id="firstName" />
                </div>
                <div class="col-xs-3">
                    <input type="text" id="lastName" />
                </div>
                <div class="col-xs-2">
                    <input type="checkbox" id="over18" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label for="streetAddress">Street Address</label>
                </div>
                <div class="col-xs-3">
                    <label for="City">City</label>
                </div>
                <div class="col-xs-2">
                    <label for="State">State</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input type="text" id="streetAddress" />
                </div>
                <div class="col-xs-3">
                    <input type="text" id="City" />
                </div>
                <div class="col-xs-2">
                    <select id="State" data-bind="options: listOfStates"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label for="mobilePhone">Mobile Phone</label>
                </div>
                <div class="col-xs-3">
                    <label for="homePhone">Home Phone</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input type="text" id="mobilePhone" />
                </div>
                <div class="col-xs-3">
                    <input type="text" id="homePhone" />
                </div>
            </div>
        </div>
    </div>
    <!-- Employment Info -->
    <div id="view2">
        <div class="container-fluid center">
            <div class="row">
                <div class="col-xs-3">
                    <label for="daysAvailable">Days Available</label>
                </div>
                <div class="col-xs-3">
                    <label for="employmentDesired">Employment Desired</label>
                </div>
                <div class="col-xs-3">
                    <label for="hoursWeekly">Hours Available Per Week</label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" value="All" class="selectAll buttonDays" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Mon" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Tue" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <input type="button" class="buttonEmployment" value="FullTime" />
                </div>
                <div class="col-xs-3">
                    <input type="text" id="hoursPerWeek" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Wed" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Thur" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Fri" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <input type="button" class="buttonEmployment" value="PartTime" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Sat" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Sun" />
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-xs-3">
                    <label for="workNight">Can You Work Nights</label>
                </div>
                <div class="col-xs-3">
                    <label for="beenFired">Have You Been Fired Before</label>
                </div>
                <div class="col-xs-3">
                    <label for="dateAvailable">Date Available</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input type="button" class="buttonWorkNight" value="Yes" />
                </div>
                <div class="col-xs-3">
                    <input type="button" class="buttonFired" value="Yes" />
                </div>
                <div class="col-xs-3">
                    <input type="text" id="datepicker" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input type="button" class="buttonWorkNight" value="No" />
                </div>
                <div class="col-xs-3">
                    <input type="button" class="buttonFired" value="No" />
                </div>
            </div>

        </div>
    </div>
          
    <!-- Work Experience -->
    <div id="view3">
        content 3
    </div>
    <!-- Education -->
    <div id="view4">
        content 4
    </div>
</div>
<input type="button" id="submit" value="Submit" />