@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/jquery-ui.min-1.11.1.js")
@Scripts.Render("~/Scripts/knockout.js")
@Scripts.Render("~/Scripts/tabcontent.js")
@Scripts.Render("~/Scripts/livevalidation_standalone.js")
@Scripts.Render("~/ViewModels/ApplyViewModel.js")
@Scripts.Render("~/ViewControllers/Apply.js")
@Styles.Render("~/Content/tabcontent.css")
@Styles.Render("~/Content/Apply.css")
@Styles.Render("~/Content/jquery-ui.min.css")
@Styles.Render("~/Content/datepicker.css")
@Styles.Render("~/Content/jquery-ui.theme.min.css")
@Styles.Render("~/Content/jquery-ui.structure.min.css")

<ul class="tabs">
    <li><a href="#view1">Personal Info</a></li>
    <li><a href="#view2">Employment Info</a></li>
    <li><a href="#view3">Work Experience</a></li>
    <li><a href="#view4">References</a></li>
    <li><a href="#view5">Education</a></li>
    <li><input type="button" id="submit" value="Submit" class="btn btn-primary btn-sm submitButton" /></li>
</ul>
<div class="tabcontents">
    <!-- Personal Info -->
    <div id="view1">
        <div class="contianer-fluid center">
            <div class="row">
                <div class="col-xs-3">
                    <label for="firstName">First Name</label>
                </div>
                <div class="col-xs-3">
                    <label for="lastName">Last Name</label>
                </div>
                <div class="col-xs-2">
                    <label for="over18">Over 18</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input type="text" id="firstName" data-bind="value: FirstName" required />
                </div>
                <div class="col-xs-3">
                    <input type="text" id="lastName" data-bind="value: LastName" required />
                </div>
                <div class="col-xs-2">
                    <input type="checkbox" id="over18" data-bind="checked: Over18" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label for="streetAddress">Street Address</label>
                </div>
                <div class="col-xs-3">
                    <label for="City">City</label>
                </div>
                <div class="col-xs-2">
                    <label for="State">State</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input type="text" id="streetAddress" data-bind="value: Street" required />
                </div>
                <div class="col-xs-3">
                    <input type="text" id="City" data-bind="value: City" required />
                </div>
                <div class="col-xs-2">
                    <select id="State" data-bind="options: listOfStates, value: State"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label for="mobilePhone">Mobile Phone</label>
                </div>
                <div class="col-xs-3">
                    <label for="homePhone">Home Phone</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input type="text" id="mobilePhone" data-bind="value: MobilePhone" required />
                </div>
                <div class="col-xs-3">
                    <input type="text" id="homePhone" data-bind="value: HomePhone" />
                </div>
            </div>
        </div>
    </div>
    <!-- Employment Info -->
    <div id="view2">
        <div class="container-fluid center">
            <div class="row">
                <div class="col-xs-3">
                    <label>Days Available</label>
                </div>
                <div class="col-xs-3">
                    <label for="employmentDesired">Employment Type</label>
                </div>
                <div class="col-xs-3">
                    <label for="hoursWeekly">Hours Available Per Week</label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="selectAll round-button" value="All" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays round-button" value="Mon" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays round-button" value="Tue" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="btn-group-sm">
                        <input type="button" id="FullTime" class="btn btn-default active" value="Full" />
                        <input type="button" id="PartTime" class="btn btn-default" value="Part" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <input type="number" id="hoursPerWeek" min="10" max="40" value="40" data-bind="value: HoursAvailable" required />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays round-button" value="Wed" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays round-button" value="Thr" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays round-button" value="Fri" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays round-button" value="Sat" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays round-button" value="Sun" />
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-xs-3">
                    <label for="workNight">Can You Work Nights</label>
                </div>
                <div class="col-xs-3">
                    <label for="beenFired">Have You Been Fired Before</label>
                </div>
                <div class="col-xs-3">
                    <label for="dateAvailable">Date Available</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="btn-group-sm">
                        <input type="button" id="NightsYes" class="btn btn-default active" value="Yes" />
                        <input type="button" id="NightsNo" class="btn btn-default" value="No" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="btn-group-sm">
                        <input type="button" id="FiredYes" class="btn btn-default active" value="Yes" />
                        <input type="button" id="FiredNo" class="btn btn-default" value="No" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="datepicker" value="Select Date..." maxlength="10" data-bind="value: DateAvailable" required />
                </div>
            </div>
        </div>
    </div>
          
    <!-- Work Experience -->
    <div id="view3">
        <div class="contianer-fluid">
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-2">
                    <input type="button" id="addWorkExp" value="Add Employer" class="btn btn-primary" />
                </div>
                <div>
                    <input type="button" id="addMilitaryExp" value="Add Military Record" class="btn btn-primary" />
                </div>
            </div>
            <div class="row center" data-bind="visible: employers().length > 0">
                <div class="col-xs-2">
                    <b>Employer Name</b>
                </div>
                <div class="col-xs-2">
                    <b>Employer Street</b>
                </div>
                <div class="col-xs-2">
                    <b>Employer City</b>
                </div>
                <div class="col-xs-2">
                    <b>Employer State</b>
                </div>
            </div>
            <!-- ko foreach: employers -->
                <div class="row center">
                    <div class="col-xs-2" data-bind="text: name"></div>
                    <div class="col-xs-2" data-bind="text: street"></div>
                    <div class="col-xs-2" data-bind="text: city"></div>
                    <div class="col-xs-2" data-bind="text: state"></div>
                    <i class="glyphicon glyphicon-trash" data-bind="click: function() { $parent.removeEmployer($parent, $data) }"></i>
                </div>
            <!-- /ko -->

            <div class="row center" data-bind="visible: militaryExp().length > 0">
                <div class="col-xs-2">
                    <b>Military Branch</b>
                </div>
                <div class="col-xs-2">
                    <b>Years Served</b>
                </div>
                <div class="col-xs-2">
                    <b>In the Reserve?</b>
                </div>
                <div class="col-xs-2">
                    <b>Honorably Discharge</b>
                </div>
            </div>
            <!-- ko foreach: militaryExp -->
            <div class="row center">
                <div class="col-xs-2" data-bind="text: branch"></div>
                <div class="col-xs-2" data-bind="text: years"></div>
                <div class="col-xs-2">
                    <input type="checkbox" disabled="disabled" data-bind="checked: reserve" />
                </div>
                <div class="col-xs-2">
                    <input type="checkbox" disabled="disabled" data-bind="checked: discharge" />
                </div>
                <i class="glyphicon glyphicon-trash" data-bind="click: function() { $parent.removeMilitaryExp($parent, $data) }"></i>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <!-- References -->
    <div id="view4">
        <div class="contianer-fluid">
            <div class="row">
                <div class="col-xs-5"></div>
                <div>
                    <input type="button" id="addReference" value="Add Reference" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <!-- Education -->
    <div id="view5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-5"></div>
                <div>
                    <input type="button" id="addEducation" value="Add Education" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Work Exp Modal -->
<div id="addWorkExpModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="model-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
            </div>
            <div class="modal-body">
                <div class="contianer-fluid">
                    <div class="row">
                        <div class="col-xs-4">
                            <label>Employer Name</label>
                        </div>
                        <div class="col-xs-4">
                            <label>Employer Email</label>
                        </div>
                        <div class="col-xs-4">
                            <label>May we contact this employer?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="employerName" data-bind="value: employerName" required />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="employerEmail" data-bind="value: employerEmail" required />
                        </div>
                        <div class="col-xs-4">
                            <input type="checkbox" id="employerCanContact" data-bind="checked: employerCanContact" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="employerStreet">Employer Street</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="employerCity">Employer City</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="employerState">Employer State</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="employerStreet" data-bind="value: employerStreet" required />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="employerCity" data-bind="value: employerCity" required />
                        </div>
                        <div class="col-xs-4">
                            <select id="employerState" data-bind="options: listOfStates, value: employerState"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="employerLastBoss">Previous Boss</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="employerPhone">Employer Phone</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="employerLastBoss" data-bind="value: employerPrevBoss" required />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="employerPhone" data-bind="value: employerPhone" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="employerStartDate">Start Date</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="employerEndDate">End Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="employerStartDate" data-bind="value: employerStartDate" class="datepicker" maxlength="10" required />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="employerEndDate" data-bind="value: employerEndDate" class="datepicker" maxlength="10" required />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="employerDuties">Duties and Responsibilities</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <textarea id="employerDuties" data-bind="value: employerDuties" style="resize: none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn" data-bind="click: addEmployer" aria-hidden="true" id="saveWorkExp">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Military Exp Modal -->
<div id="addMilitaryExpModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="model-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
            </div>
            <div class="modal-body">
                <div class="contianer-fluid">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="yearsInMilitary">Years In Military</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="militaryBranch">Branch of Military</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="inReserve">Reserve?</label>
                        </div>
                        <div>
                            <label for="honorableDischarge">Honorable Discharge</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="number" id="yearsInMilitary" data-bind="value: militaryYears" min="1" max="100" required />
                        </div>
                        <div class="col-xs-4">
                            <select id="militaryBranch" data-bind="options: militaryBranches, value: militaryBranch"></select>
                        </div>
                        <div class="col-xs-4">
                            <input type="checkbox" id="inReserve" data-bind="checked: inReserve" />
                        </div>
                        <div>
                            <input type="checkbox" id="honorableDischarge" data-bind="checked: honorableDischarge" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn" data-bind="click: addMilitaryExp" data-dismiss="modal" aria-hidden="true" id="saveMilitaryExp">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Reference Modal -->
<div id="addReferenceModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="model-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
            </div>
            <div class="modal-body">
                <div class="contianer-fluid">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="referenceName">Reference Name</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="referenceTitle">Reference Title</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="referenceCompany">Reference Company</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="referenceName" data-bind="value: referenceName" required />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="referenceTitle" data-bind="value: referenceTitle" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="referenceCompany" data-bind="value: referenceCompany" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="referenceStreetAddress">Company Street</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="referenceCity">Company City</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="referenceState">Company State</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="referenceStreetAddress" data-bind="value: referenceStreet" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="referenceCity" data-bind="value: referenceCity" />
                        </div>
                        <div class="col-xs-4">
                            <select class="referenceState" data-bind="options: listOfStates, value: referenceState"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="referencePhone">Reference Phone</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="referenceEmail">Reference Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="referencePhone" data-bind="value: referencePhone" required />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="referenceEmail" data-bind="value: referenceEmail" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn" data-bind="click: addReference" data-dismiss="modal" aria-hidden="true" id="saveReference">Save</button>
            </div>
        </div>
    </div>
</div>

<!--Add Education Modal-->
<div id="addEducationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="model-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
            </div>
            <div class="modal-body">
                <div class="contianer-fluid">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="schoolType">School Type</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="schoolName">School Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <select id="schoolType" data-bind="options: schoolTypes, value: schoolType"></select>
                        </div>
                        <div class="col-xs-4">
                            <input id="schoolName" data-bind="value: schoolName" type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="schoolCity">City</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="schoolState">State</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" data-bind="value: schoolCity" id="schoolCity" />
                        </div>
                        <div class="col-xs-4">
                            <select id="schoolState" data-bind="options: listOfStates, value: schoolState"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="gradDate">Graduation Date</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="majorDegCert">Major/Degree/Cert</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="gradDate" data-bind="value: graduationDate" class="datepicker" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="majorDegCert" data-bind="value: majorDegCert" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn" data-bind="click: saveEducation" aria-hidden="true" id="saveEducation">Save</button>
            </div>
        </div>
    </div>
</div>