@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/jquery-ui.min-1.11.1.js")
@Scripts.Render("~/Scripts/knockout.js")
@Scripts.Render("~/Scripts/tabcontent.js")
@Scripts.Render("~/Scripts/livevalidation_standalone.js")
@Scripts.Render("~/ViewModels/ApplyViewModel.js")
@Scripts.Render("~/ViewControllers/Apply.js")
@Styles.Render("~/Content/tabcontent.css")
@Styles.Render("~/Content/Apply.css")
@Styles.Render("~/Content/jquery-ui.min.css")
@Styles.Render("~/Content/datepicker.css")
@Styles.Render("~/Content/jquery-ui.theme.min.css")
@Styles.Render("~/Content/jquery-ui.structure.min.css")

<ul class="tabs">
    <li><a href="#view1">Personal Info</a></li>
    <li><a href="#view2">Employment Info</a></li>
    <li><a href="#view3">Work Experience</a></li>
    <li><a href="#view4">References</a></li>
    <li><a href="#view5">Education</a></li>
    <li><input type="button" id="submit" value="Submit" class="btn btn-primary btn-sm submitButton" /></li>
</ul>
<div class="tabcontents">
    <!-- Personal Info -->
    <div id="view1">
        <form id="myForm">
            <div class="contianer-fluid">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="firstName">First Name</label>
                    </div>
                    <div class="col-xs-3">
                        <label for="lastName">Last Name</label>
                    </div>
                    <div class="col-xs-2">
                        <label for="over18">Over 18?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <input type="text" id="firstName"/>
                    </div>
                    <div class="col-xs-3">
                        <input type="text" id="lastName" />
                    </div>
                    <div class="col-xs-2">
                        <input type="checkbox" id="over18" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <label for="streetAddress">Street Address</label>
                    </div>
                    <div class="col-xs-3">
                        <label for="City">City</label>
                    </div>
                    <div class="col-xs-2">
                        <label for="State">State</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <input type="text" id="streetAddress" />
                    </div>
                    <div class="col-xs-3">
                        <input type="text" id="City" />
                    </div>
                    <div class="col-xs-2">
                        <select id="State" data-bind="options: listOfStates"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <label for="mobilePhone">Mobile Phone</label>
                    </div>
                    <div class="col-xs-3">
                        <label for="homePhone">Home Phone</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <input type="text" id="mobilePhone" />
                    </div>
                    <div class="col-xs-3">
                        <input type="text" id="homePhone" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Employment Info -->
    <div id="view2">
        <div class="container-fluid center">
            <div class="row">
                <div class="col-xs-3">
                    <label for="daysAvailable">Days Available</label>
                </div>
                <div class="col-xs-3">
                    <label for="employmentDesired">Employment Desired</label>
                </div>
                <div class="col-xs-3">
                    <label for="hoursWeekly">Hours Available Per Week</label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" value="All" class="selectAll buttonDays" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Mon" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Tue" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <input type="button" class="buttonEmployment" value="FullTime" />
                </div>
                <div class="col-xs-3">
                    <input type="text" id="hoursPerWeek" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Wed" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Thur" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Fri" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <input type="button" class="buttonEmployment" value="PartTime" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Sat" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="dates">
                        <input type="button" class="buttonDays" value="Sun" />
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-xs-3">
                    <label for="workNight">Can You Work Nights</label>
                </div>
                <div class="col-xs-3">
                    <label for="beenFired">Have You Been Fired Before</label>
                </div>
                <div class="col-xs-3">
                    <label for="dateAvailable">Date Available</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input type="button" class="buttonWorkNight" value="Yes" />
                </div>
                <div class="col-xs-3">
                    <input type="button" class="buttonFired" value="Yes" />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="datepicker" value="Select Date..."/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input type="button" class="buttonWorkNight" value="No" />
                </div>
                <div class="col-xs-3">
                    <input type="button" class="buttonFired" value="No" />
                </div>
            </div>

        </div>
    </div>
          
    <!-- Work Experience -->
    <div id="view3">
        <div class="contianer-fluid">
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-2">
                    <input type="button" id="addWorkExp" value="Add Employer" class="btn btn-primary" />
                </div>
                <div>
                    <input type="button" id="addMilitaryExp" value="Add Military Record" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <!-- References -->
    <div id="view4">
        <div class="contianer-fluid">
            <div class="row">
                <div class="col-xs-5">
                </div>
                <div>
                    <input type="button" id="addReference" value="Add Reference" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <!-- Education -->
    <div id="view5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-5">
                </div>
                <div>
                    <input type="button" id="addEducation" value="Add Education" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Work Exp Modal -->
<div id="addWorkExpModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="model-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
            </div>
            <div class="modal-body">
                <div class="contianer-fluid">
                    <div class="row">
                        <div class="col-xs-4">
                            <label>Employer Name</label>
                        </div>
                        <div class="col-xs-4">
                            <label>Employer Email</label>
                        </div>
                        <div class="col-xs-4">
                            <label>May we contact this employer?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="employerName" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="employerEmail" />
                        </div>
                        <div class="col-xs-4">
                            <input type="checkbox" id="employerCanContact" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="employerStreet">Employer Street</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="employerCity">Employer City</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="employerState">Employer State</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="employerStreet" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="employerCity" />
                        </div>
                        <div class="col-xs-4">
                            <select id="employerState" data-bind="options: listOfStates"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="employerLastBoss">Previous Boss</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="employerPhone">Employer Phone</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="employerLastBoss" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="employerPhone" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="employerStartDate">Start Date</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="employerEndDate">End Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="employerStartDate" class="datepicker" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="employerEndDate" class="datepicker" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="employerDuties">Duties and Responsibilities</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <textarea id="employerDuties" style="resize: none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn" data-bind="click: addEmployer" data-dismiss="modal" aria-hidden="true" id="saveWorkExp">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Military Exp Modal -->
<div id="addMilitaryExpModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="model-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
            </div>
            <div class="modal-body">
                <div class="contianer-fluid">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="yearsInMilitary">Years In Military</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="militaryBranch">Branch of Military</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="inReserve">Reserve?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="number" id="yearsInMilitary" min="1" max="100" />
                        </div>
                        <div class="col-xs-4">
                            <select id="militaryBranch" data-bind="options: militaryBranches"></select>
                        </div>
                        <div class="col-xs-4">
                            <input type="checkbox" id="inReserve" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn" data-bind="click: addMilitaryExp" data-dismiss="modal" aria-hidden="true" id="saveMilitaryExp">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Reference Modal -->
<div id="addReferenceModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="model-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
            </div>
            <div class="modal-body">
                <div class="contianer-fluid">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="referenceName">Reference Name</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="referenceTitle">Reference Title</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="referenceCompany">Reference Company</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="referenceName" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="referenceTitle" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="referenceCompany" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="referenceStreetAddress">Company Street</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="referenceCity">Company City</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="referenceState">Company State</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="referenceStreetAddress" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="referenceCity" />
                        </div>
                        <div class="col-xs-4">
                            <select class="referenceState" data-bind="options: listOfStates"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="referencePhone">Reference Phone</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="referenceEmail">Reference Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="referencePhone" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="referenceEmail" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn" data-bind="click: addReference" data-dismiss="modal" aria-hidden="true" id="saveReference">Save</button>
            </div>
        </div>
    </div>
</div>

<!--Add Education Modal-->
<div id="addEducationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="model-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
            </div>
            <div class="modal-body">
                <div class="contianer-fluid">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="schoolType">School Type</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="schoolName">School Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <select id="schoolType" data-bind="options: schoolTypes"></select>
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="schoolName" />
                        </div>
                    </div>
                    <div class="row">
                        <br/>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="city">City</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="state">State</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="city" />
                        </div>
                        <div class="col-xs-4">
                            <select class="referenceState" data-bind="options: listOfStates"></select>
                        </div>
                    </div>
                    <div class="row">
                        <br/>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="gradDate">Graduation Date</label>
                        </div>
                        <div class="col-xs-4">
                            <label for="majordegcert">Major/Degree/Cert</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" id="gradDate" class="datepicker" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" id="majordegcert" /> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn" data-bind="click: saveEducation" data-dismiss="modal" aria-hidden="true" id="saveEducation">Save</button>
            </div>
        </div>
    </div>
</div>